@font-face {
    font-weight: 400;
    font-family: 'OpenSans';
    font-style: normal;
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
  }
  
@font-face {
    font-weight: 500;
    font-family: 'Cormorant';
    font-style: normal;
    src: url('./fonts/Cormorant-Medium.ttf') format('truetype');
  }

@font-face {
    font-weight: 600;
    font-family: 'Cormorant';
    font-style: normal;
    src: url('./fonts/Cormorant-SemiBold.ttf') format('truetype');
  }
  
@font-face {
    font-weight: 700;
    font-family: 'Cormorant';
    font-style: normal;
    src: url('./fonts/Cormorant-Bold.ttf') format('truetype');
  }




:root {
    --color-dark: #1D2F30;
    --color-white: #fff;
    --color-primary-green: #BAE249;
    --color-background: #1D2F30;
    --color-green-text: #506829;
    --color-background-shadow: #0B1919;
    --color-grey: #899D9D;
    --color-green-active: #688B05;
    --color-green-hover:#91AC46;
    --color-red: #E24949;
}

body {
    margin: 0;
}

a {
    font-family: 'OpenSans';
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-white);
}

.page {
    /* padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 60px; */
    background-color: var(--color-background);
}

.intro {
    background-image: url(images/b26d7fd790a80795819f918a2e149d00.jpg);
    background-size: cover;
}

.navigation {
    padding: 0 165px 0 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D2F30;
}

.navigation__list {
    display: flex;
    gap: 64px;
    list-style: none;
    padding: 0;
}

.login__list {
    list-style: none;
    gap: 64px;
    display: flex;
    padding: 0px;
}

.intro__info {
  padding: 0px 146px;
  background-color: rgb(32, 52, 53, 0.8);
}

.intro__header {
    font-family: Cormorant;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--color-white);
}

.text {
    color: var(--color-white);
    font-family: OpenSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.intro__info-text {
    padding-top: 100px;
    padding-bottom: 115px;
    width: 668px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}


.button {
    background: none;
    border: 1px solid var(--color-primary-green);
    color: var(--color-primary-green);
    padding: 10px 28px;
    text-align: center;
}

.button_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: var(--color-primary-green);
    font-family: Cormorant;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    padding: 0;
}

.artifacts {
    padding-top: 60px;
}

.artifacts__content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.artifacts__content-container {
    width: 255px;
    height: 495px;
    border: 1px solid var(--color-background-shadow);
}

.artifacts__content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 255px;
    height: 313px;
    padding-top: 8px;
    padding-left: 8px;
}

.artifacts__image-container {
    background-color: var(--color-background-shadow);
    width: 100%;
    max-width: 255px;
    height: 180px;
}

.artifacts__title {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-white);
    margin: 0;
}

.text_grey {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.artifacts__header {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 57px 0px 30px;
    color: var(--color-white);
    padding-left: 250px;
}

.image-artifacts {
    width: 100%;
    max-width: 825px;
    height: 493px;
}



.artifacts__samples-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 60px;
}

.artifacts__samples-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--color-primary-green);
    width: 225px;
    height: 503px;
    max-height: 560px;
}

.samples__title {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding: 6px;
    margin: 0;
}

.samples__text {
    font-family: OpenSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-green-text);
    padding-left: 16px;
}

.button_black {
    color: var(--color-background-shadow);
    border: 1px solid black;
    margin-left: 16px;
}

